<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Cart</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>


<%- include('partials/header') %>
<body>
<h1>My Cart</h1>

<container class='main'>
  <% let subtotal=0 %>

  <% for (let item of checkout) { %>
  <div id="<%= item.order_id %>" class='item'>
  <div>
<img class="menu-item-img" src="<%= item.image %>" alt="">
  </div>
  <div class="item-name">

    <% subtotal += item.unit_price * item.quantity %>
    <p class="item-head">Item</p>
    <p><%= item.item %></p>


  </div>
  <div class="quantity">
    <p class="item-head">Quantity</p>
    <p class='price'><%= item.quantity %> </p>
  </div>
  <div class="price">
    <p class="item-head">Unit Price</p>
<p class='price'><%= item.unit_price %></p>
</div>
  <div class="total">
    <p class="item-head">Total Price</p>
<p class='price'> <%= (item.unit_price * item.quantity).toFixed(2) %></p>
</div>
  </div>
  <% } %>
</container>
<container class="time-picker">
  <p class='select'>Select a Pick-Up Time:</p>
  <input id="timepicker" width="276" />
    <script>
        $('#timepicker').timepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
</container>

<container class='subtotal'>
  <div class='subtotal-calc'>
    <% let tax = (0.13 * subtotal).toFixed(2) %>
    <p>Subtotal: $<%= subtotal.toFixed(2) %></p>
    <p>Tax: <%= tax %></p>
    <p>Total: $<%= (Number(subtotal) + Number(tax)).toFixed(2) %></p>
    </div>
  <div>
    <div class="payment-methods">
      <div class='pay-col'>
        <p class="pay">Pay in Store using:</p>
      </div>
      <div class="pay-row">
        <img class='visa-img' src="images/visa-debit.png" alt="">
        <img class='mc-img' src="images/mc.png" alt="">
        <p class='cash'>CASH</p>
      </div>
    </div>

</container>

<div class='btn-div'>
  <button class='submit-btn2' onclick="location.href='http://localhost:8080/order/8'">SUBMIT ORDER</button>
</div>
<script>
    $(function () {
    // INITIALIZE DATEPICKER PLUGIN
    $('.datepicker').datepicker({
        clearBtn: true,
        format: "dd/mm/yyyy"
    });
  });
</script>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

<%- include('partials/footer') %>
</html>
