<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>


<%- include('partials/header') %>
<body>
  <div class="bg">
<h1>Cafe Menu</h1>
<div class='main2'>
  <div class='main-head'>

  </div>
<% for (let item of menu) { %>
  <container class='main'>
    <div class='item'>
    <div>
  <img class="menu-item-img" src=<%= item.image %> alt="">
    </div>
    <div class="item-name">
      <p class="main-p">Item</p>
      <p><%= item.item_name %></p>
    </div>
    <div class="menu-description">
      <p class="main-p">Description</p>
      <p><%= item.description %></p>
    </div>
    <div class="price-qty">
      <p class="main-p">Price/Qty</p>
  <p class='price'>$<%= item.item_price %></p>

  <form>
  <input class="qty-box"type="text">
  <span>Qty</span>
  </div>
  <div class='btn-div'>
<!-- Step1. Make this button add the item that the user clicked on to local storage. -->
    <button id='<%= item.id %>' class='submit-btn' type='submit' >ADD TO CART</button>
  </div>
</form>

    </div>
  </container>
  <% } %>
</div>
<div class="checkout-btn2">

  <button class='checkout-btn' onclick="location.href='http://localhost:8080/checkout'">GO TO CHECKOUT</button>
</div>
</div>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
<%- include('partials/footer') %>

</html>
